div {
    width: 300px;
    height: 150px;
    margin: 20px;
    text-align: center;
    color: white;
}

/* Degradado Lineal: Transición a lo largo de una dirección */
.caja-lineal {
    background: linear-gradient(270deg, blue, brown); /* De izquierda a derecha */
}

/* Degradado Radial: Transición desde el centro hacia afuera */
.caja-radial {
    background: radial-gradient(circle, blue, lightblue); /* Forma circular */
}