* {
    margin: 0px;
    padding: 0px;
}

.mi-caja {
    /* Contenido */
    width: 200px;
    height: 100px;
    background-color: #add8e6;
    /* Azul claro para ver el contenido */

    /* Relleno (espacio interno) */
    padding: 30px;

    /* Borde (límite visual) */
    border: 3px solid #8b3500;
    /* Azul oscuro */

    /* Margen (separación externa) */
    margin: 10px;
}